*.ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.userprefs
*.bak
/source/packages/
/**/bin/
/**/obj/
/**/x64/
/dist/**/*.dll.config
/dist/**/*.dll
/dist/**/*.exe
/dist/**/*.exe.config
/dist/**/*.exe.manifest
/dist/**/*.exp
/dist/**/*.lib
/dist/**/*.metagen
/dist/**/*.pdb
/dist/*.xml
